/*RESET*/
*{ margin: 0; padding: 0; font-size: 100%; font-family: verdana,tahoma,arial,helvetica; color: #545649;}

body{background: #f0f0f0;}

html { overflow-y: scroll; }
html { overflow: -moz-scrollbars-vertical; }
html { overflow-x: auto; }

.links a {text-decoration: none; color: #456496; }
.links a:hover { color: #0066FF; }
.links a:active {	color: #3070AF; }

.links_b a {text-decoration: none; color: #ffffff; }
.links_b a:hover { color: #ffffff; }
.links_b a:active {	color: #ffffff; }

/*TEMPLATE*/
#main {
 display: grid;
 grid-template-rows: 94px 27px auto auto;
 grid-template-areas: "header" "bot" "content" "footer";
}

.mainHeader {grid-area:header; background-image: url(./images/top_bg.gif);}
.mainBot {grid-area:bot; background: #CCCCCC;}
.mainContent {grid-area:content; background: #f0f0f0;display: flex; justify-content: center;}
.mainFooter {grid-area:footer; background: #f0f0f0; display: flex; justify-content: center;}
 
#topo{ width:680px; height:94px; display: flex; justify-content: space-between;}
.caixa{display: flex; justify-content: center;}
.logo{ width: 100%; height: 94px; top: 0;}

/*FOOTER*/
#rodape{ width:100%; height:300px; display: flex; justify-content: center; flex-wrap: wrap; align-content: flex-end;
 font-family: arial; font-size: 13px;}
#cx_banners{ width:680px; display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 10px;}
.banner{ background: #f0f0f0; width: 133px; height: 50px; } 

#cx_sitemap {width: 100%; height: auto; display: flex; justify-content: center; flex-wrap: wrap; background: #4d565e;}
#cx_itens_01 { width:680px; display: flex; justify-content: center; flex-wrap: wrap; margin-left: 5px;}
.cx_itens_02 {width:24%; font-weight: bold; margin-top: 5px; margin-bottom: 5px; padding-right: 1px;}
.txt_sitemap {font-weight: normal;}

#barra_rodape { width: 100%; height: auto; display: flex;  justify-content: center; align-items: flex-end; background: #292f2f; padding-top: 1px;}
#item_barra { color: white;}
.midias_sociais a {margin-right: 5px; width:}

/*MENU*/
#btn-menu{ display: none;}
header{ background-color: #2f2f2f; z-index: 1; }
header label{ color: #000000; font-size: 15px; display: block; padding: 6px 8px; width: 11px; height: 12px; border-right: 1px solid #000000;
 display: none; }
header label:hover{ background-color: #ff8627; }
 
.menu ul { list-style: none; margin: 0; padding: 0; display: flex; justify-content: center; transition: all .5s;}
.menu li a{ color: #000000; text-decoration: none; padding: 1px 5px; margin-top: 1px; display: block; border-right: 1px solid #000000;
 height: 16px; background-color: #CCCCCC; font-size: 12px; }
.menu li a:hover{ background-color: #7a7878; }
.mainBot{ display: flex; flex-direction: column; }

/*HOME*/
.principal {width: 680px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;}
 .cx_princ_01 { width: 50%;}
.princ_aviso { background: white; border: 1px solid black ;height: 228px; width: 500px; display: flex; flex-direction: column; margin-left: 1px;
 }
.aviso {height: 26px; width: 99.5%; background-color: #4d565e; margin: 1px;}
 .cx1 {display: flex; align-items: center }
 .cx2 {flex-grow: 3; background: #ffffff; font-size: 13px; text-align: justify; }
  
.titulo1 { color: white; font-weight: bold; font-size: 14px; }
.texto {padding: 7%;text-align: justify;}
.texto p{font-size: 13px; margin-top: 6%; line-height: 1.5em;}
.texto2 p{font-size: 13px; text-align: justify; padding-top: 1%; line-height: 1.5em;}
.recuo { text-indent:4em;}

/*DIVS TEMPLATE*/
.sec_padrao {width: 864px; display: flex; justify-content: center;}
.artic_padrao {display: flex; flex-direction: column; align-items: center; margin-top: 30px; width: 60%;}
.div_titulo {font-size: 19px; font-weight: bold;}
.div_titulo_1 {display: flex; background-color: #4d565e; width: 100%; margin-top: 15px; border-top: 1px solid black;
 border-right: 1px solid black; border-left: 1px solid black;}
 .div_item_1 {width: 50%; font-size: 14px; font-weight: bold; color: #ffffff}
.div_corpo {display: flex; flex-wrap: wrap; flex-direction: row;background-color: #f0f0f0; width: 100%; border: 1px solid black;}
 .div_item_2 {display: flex; width: 49.5%; background-color: #ffffff; margin: 1px; font-size: 12px;}
 .div_erro {font-size: 14px; font-weight: bold; color: #ffffff}
 .erro {height: auto; background-color: white; font-size: 13px; text-align: justify; padding: 20px;}
 
 
/*BREAKPOINTS - NETBOOKS E TABLETS*/
@media screen and (max-width: 877px){
 #topo{ width:100%; height:94px;}
 .logo{ /*background: url(./images/logo.jpg); width: 261px; height: 94px;*/ margin-left: 0px; /*top: 0;*/}
 .git{ margin-left: 377px;}
 
 #rodape{ background: #f0f0f0; width:100%; height: 300px; position: absolute; left: 0%; margin-left: 0px;}
 /*display: flex; flex-wrap: wrap; align-content: flex-end; }*/
 
 .principal{width: 100%;}
 .sec_padrao {width: 100%;}
 .div_item_2 img {width: auto; height: 13px;}
 
}
 
/*BREAKPOINTS - CELULARES MEDIOS*/
@media screen and (max-width: 682px){
  header label{  display: block;  margin-top: 90px; }
 .menu ul { position: absolute;  background-color: #2f2f2f;  width: 40%;  flex-direction: column;  margin-left: -40%; }
 .menu li a{ border-top: 1px solid #efefef;  margin: 0; }

 #btn-menu:checked ~ .menu ul{ margin-left: 0; }
 /*#main {
  grid-template-rows: 94px 27px 100% auto;     
  grid-template-areas: "header" "bot" "content" "footer";
 }*/
 
 #topo{ /*width:100%; height:94px;*/position: absolute; left: 0%; margin-left: 0px; }
 /*.logo{ background: url(./images/logo.jpg); width: 261px; /*height: 94px; margin-left: 0px; top: 0; }*/
 
 
 .div_item_2 {width: 49%; margin: 1px; font-size: 12px;}
 

 }
 
/*BREAKPOINTS - CELULARES PEQUENOS */
@media screen and (max-width: 500px) and (orientation:portrait){
 
 .git{ margin-left: 15px;}
 #rodape{height: 400px;}
 
 
 .principal {width: 100%; flex-direction: column;}
 .cx_princ_01 {width: 100%;}
 .princ_aviso {width: 94%; margin: 6px;}
 .artic_padrao {width: 90%;}
 .cx2 img {width: auto; height: 49.6px;}
 .div_titulo {font-size: 17px;}
 .div_item_1 {font-size: 12px;}
 .div_item_2 {width: 49%;}
 .div_erro {font-size: 13px;}
 
}

@media screen and (max-width: 500px) and (orientation:landscape){
 
 .git{ margin-left: 135px;}
 #rodape{height: 300px;}
 
 
 .principal {width: 100%; flex-direction: column;}
 .cx_princ_01 {width: 100%;}
 .princ_aviso {width: 94%; margin: 6px;}
 .artic_padrao {width: 90%;}
 .cx2 img {width: auto; height: 49.6px;}
 .div_titulo {font-size: 17px;}
 .div_item_1 {font-size: 12px;}
 .div_item_2 {width: 49%;}
 .div_erro {font-size: 13px;}
 
}

/*BREAKPOINTS - CELULARES MINIS */

@media screen and (max-width: 350px) and (orientation:portrait){
 
 .logo{ width: 235px;}
 .git{ margin-left: 0px;}
 #rodape{height: 400px;}

 
 
 .principal {width: 100%; flex-direction: column;}
 .cx_princ_01 {width: 100%;}
 .princ_aviso {width: 94%; margin: 6px;}
 .artic_padrao {width: 90%;}
 .cx2 img {width: auto; height: 49.6px;}
 .div_titulo {font-size: 17px;}
 .div_item_1 {font-size: 12px;}
 .div_item_2 {width: 49%;}
 .div_erro {font-size: 13px;}
 
}